/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Inter&family=Montserrat&display=swap'); */

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(./fonts/Metrolopis/Metropolis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: local("Metropolis"), url(./fonts/Metrolopis/Metropolis-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: local("Metropolis"), url(./fonts/Metrolopis/Metropolis-Black.otf) format("opentype");
}

:root {
  --ff-primary: "Metropolis", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary), sans-serif;
}

p {
  margin: 0.5rem;
}

.row {
  display: flex;
  margin-inline: 10%;
  justify-content: space-between;
}

.row > .col {
  flex-basis: 100%;
}

section,
header {
  margin-inline: auto;
  /* width: min(90%, 90rem); */
  max-width: 70rem;
}

/* .img-content {
    width: 20rem;
    object-fit: cover;
} */

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

@media all and (max-width: 930px) {
  .row {
    flex-direction: column;
  }

  .row .col:first-child {
    order: 1;
  }
}
